.git
.github
.DS_Store
.vscode
nbproject
.env.local
.env.*.local
node_modules/
public/build/
var/
vendor/
tests/
.phpunit.cache
.phpunit.result.cache
phpunit.xml
phpunit.xml.dist
phpstan.neon
phpcs.xml.dist
rector.php
npm-debug.log
yarn-error.log
